<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="loginForm.get('email').invalid">Valid email required</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password').invalid">Password required</mat-error>
    </mat-form-field>
  
    <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  
  
